.results-hilight {
    background-color: yellow;
}

#results tbody td.date {
    width: 5%;
    white-space: nowrap;
}

#results tbody td.link {
    width: 10%;
    padding: 0px 30px 0px 30px;
}

#results tbody td.intro {
    width: 85%
}