<%= form_tag('/', :method => 'post') do %>
   <table id="filter">
    <tr>
      <td>
        <%= label_tag 'filter_title', 'Title:' %>
      </td>
      <td>
        <%= text_field_tag 'filter[title]', @filter['title'] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag 'filter_intro', 'Intro:' %>
      </td>
      <td>
        <%= text_field_tag 'filter[intro]', @filter['intro'] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag 'filter_start_date', 'Start Date:' %>
      </td>
      <td>
        <%= text_field_tag 'filter[start_date]', @filter['start_date'] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag 'filter_end_date', 'End Date:' %>
      </td>
      <td>
        <%= text_field_tag 'filter[end_date]', @filter['end_date'] %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= submit_tag 'Search', :name => 'search', :id => 'search' %>
        <%= submit_tag 'Reset',  :name => 'reset', :id => 'reset' %>
      </td>
    </tr>
  </table>
<% end %>

<table id="results">
  <tfoot>
    <th>
      <%= @stories_list.total_entries %> Results
    </th>
    <th>
      &nbsp;
    </th>
    <th>
      <%= will_paginate @stories_list %>
    </th>
  </tfoot>
  <thead>
    <th>
      Date
    </th>
    <th>
      Link
    </th>
    <th>
      Intro
    </th>
  </thead>
  <tbody>
    <% @stories_list.each do |story| %>
      <tr data-story-id="<%= story.id %>">
        <td class="date" >
          <%= story.date %>
        </td>
        <td class="link" >
          <a href="<%= story.link %>">
            <% title = html_escape story.title %>
            <% if @filter['title'] != '' and @filter['intro'] != nil %>
                <% title.gsub!(@filter['title'], '<span class="results-hilight">' + @filter['title'] + '</span>') %>
            <% end %>
            <% if @filter['intro'] != '' and @filter['intro'] != nil %>
                <% title.gsub!(@filter['intro'], '<span class="results-hilight">' + @filter['intro'] + '</span>') %>
            <% end %>
            <%= raw title %>
          </a>
        </td>
        <td class="intro">
          <% intro = html_escape story.intro %>
          <% if @filter['title'] != '' and @filter['intro'] != nil %>
              <% intro.gsub!(@filter['title'], '<span class="results-hilight">' + @filter['title'] + '</span>') %>
          <% end %>
          <% if @filter['intro'] != '' and @filter['intro'] != nil %>
              <% intro.gsub!(@filter['intro'], '<span class="results-hilight">' + @filter['intro'] + '</span>') %>
          <% end %>
          <%= raw intro %>
        </td>
      </tr>
  </tbody>
  <% end %>
</table>
